.skin-button-willsilver-lite {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 32px;
  line-height: 30px;
  padding-left: 5px;
  text-align: center;
  color: #8E8E8E;
}
.skin-button-willsilver-lite .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 32px;
}
.skin-button-willsilver-lite .ui-button-label {
  padding-right: 5px;
  height: 32px;
}
.skin-button-willsilver-lite .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left 0 no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left 0 no-repeat;
}
.skin-button-willsilver-lite .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right 0 no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right 0 no-repeat;
}
.skin-button-willsilver-lite-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -50px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -50px no-repeat;
}
.skin-button-willsilver-lite-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -50px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -50px no-repeat;
}
.skin-button-willsilver-lite-press {
  line-height: 31px;
  color: #A9AAAB;
}
.skin-button-willsilver-lite-press .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -100px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -100px no-repeat;
}
.skin-button-willsilver-lite-press .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -100px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -100px no-repeat;
}
.skin-button-willsilver-lite-disabled {
  cursor: default;
}
.skin-button-willsilver-lite-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -150px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -150px no-repeat;
}
.skin-button-willsilver-lite-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -150px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -150px no-repeat;
}
.pre-style-willsilver-lite {
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willsilver {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #8E8E8E;
}
.skin-button-willsilver .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willsilver .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willsilver .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -200px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -200px no-repeat;
}
.skin-button-willsilver .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -200px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -200px no-repeat;
}
.skin-button-willsilver-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -250px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -250px no-repeat;
}
.skin-button-willsilver-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -250px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -250px no-repeat;
}
.skin-button-willsilver-press {
  line-height: 38px;
  color: #A9AAAB;
}
.skin-button-willsilver-press .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -300px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -300px no-repeat;
}
.skin-button-willsilver-press .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -300px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -300px no-repeat;
}
.skin-button-willsilver-disabled {
  cursor: default;
}
.skin-button-willsilver-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -350px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -350px no-repeat;
}
.skin-button-willsilver-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -350px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -350px no-repeat;
}
.pre-style-willsilver {
  height: 39px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willblue-lite {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 27px;
  line-height: 25px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue-lite .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 27px;
}
.skin-button-willblue-lite .ui-button-label {
  padding-right: 5px;
  height: 27px;
}
.skin-button-willblue-lite .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -400px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -400px no-repeat;
}
.skin-button-willblue-lite .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -400px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -400px no-repeat;
}
.skin-button-willblue-lite-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -450px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -450px no-repeat;
}
.skin-button-willblue-lite-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -450px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -450px no-repeat;
}
.skin-button-willblue-lite-press {
  line-height: 26px;
  color: #A1B5C2;
}
.skin-button-willblue-lite-press .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -500px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -500px no-repeat;
}
.skin-button-willblue-lite-press .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -500px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -500px no-repeat;
}
.skin-button-willblue-lite-disabled {
  cursor: default;
}
.skin-button-willblue-lite-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -550px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -550px no-repeat;
}
.skin-button-willblue-lite-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -550px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -550px no-repeat;
}
.pre-style-willblue-lite {
  height: 27px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willblue {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willblue .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willblue .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -600px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -600px no-repeat;
}
.skin-button-willblue .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -600px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -600px no-repeat;
}
.skin-button-willblue-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -650px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -650px no-repeat;
}
.skin-button-willblue-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -650px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -650px no-repeat;
}
.skin-button-willblue-press {
  line-height: 38px;
  color: #A1B5C2;
}
.skin-button-willblue-press .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -700px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -700px no-repeat;
}
.skin-button-willblue-press .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -700px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -700px no-repeat;
}
.skin-button-willblue-disabled {
  cursor: default;
}
.skin-button-willblue-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -750px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -750px no-repeat;
}
.skin-button-willblue-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -750px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -750px no-repeat;
}
.pre-style-willblue {
  height: 39px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willblue-mid {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 32px;
  line-height: 30px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue-mid .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 32px;
}
.skin-button-willblue-mid .ui-button-label {
  padding-right: 5px;
  height: 32px;
}
.skin-button-willblue-mid .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1000px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1000px no-repeat;
}
.skin-button-willblue-mid .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1000px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1000px no-repeat;
}
.skin-button-willblue-mid-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1050px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1050px no-repeat;
}
.skin-button-willblue-mid-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1050px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1050px no-repeat;
}
.skin-button-willblue-mid-press {
  line-height: 31px;
  color: #A1B5C2;
}
.skin-button-willblue-mid-press .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1100px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1100px no-repeat;
}
.skin-button-willblue-mid-press .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1100px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1100px no-repeat;
}
.skin-button-willblue-mid-disabled {
  cursor: default;
}
.skin-button-willblue-mid-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1150px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1150px no-repeat;
}
.skin-button-willblue-mid-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1150px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1150px no-repeat;
}
.pre-style-willblue-mid {
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willlight {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #7C7C7C;
}
.skin-button-willlight .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willlight .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willlight .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -800px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -800px no-repeat;
}
.skin-button-willlight .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -800px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -800px no-repeat;
}
.skin-button-willlight-hover {
  color: #444;
}
.skin-button-willlight-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -850px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -850px no-repeat;
}
.skin-button-willlight-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -850px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -850px no-repeat;
}
.skin-button-willlight-press {
  line-height: 38px;
}
.skin-button-willlight-disabled {
  cursor: default;
}
.skin-button-willlight-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -800px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -800px no-repeat;
}
.skin-button-willlight-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -800px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -800px no-repeat;
}
.pre-style-willlight {
  height: 39px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willlight-lite {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 27px;
  line-height: 25px;
  padding-left: 5px;
  text-align: center;
  color: #7C7C7C;
}
.skin-button-willlight-lite .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 27px;
}
.skin-button-willlight-lite .ui-button-label {
  padding-right: 5px;
  height: 27px;
}
.skin-button-willlight-lite .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -900px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -900px no-repeat;
}
.skin-button-willlight-lite .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -900px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -900px no-repeat;
}
.skin-button-willlight-lite-hover {
  color: #444;
}
.skin-button-willlight-lite-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -950px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -950px no-repeat;
}
.skin-button-willlight-lite-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -950px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -950px no-repeat;
}
.skin-button-willlight-lite-press {
  line-height: 26px;
}
.skin-button-willlight-lite-disabled {
  cursor: default;
}
.skin-button-willlight-lite-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -900px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -900px no-repeat;
}
.skin-button-willlight-lite-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -900px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -900px no-repeat;
}
.pre-style-willlight-lite {
  height: 27px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willsilver-large {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 70px;
  line-height: 70px;
  padding-left: 5px;
  text-align: center;
  color: #8E8E8E;
}
.skin-button-willsilver-large .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 70px;
}
.skin-button-willsilver-large .ui-button-label {
  padding-right: 5px;
  height: 70px;
}
.skin-button-willsilver-large .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1200px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1200px no-repeat;
}
.skin-button-willsilver-large .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1200px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1200px no-repeat;
}
.skin-button-willsilver-large-hover .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1300px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1300px no-repeat;
}
.skin-button-willsilver-large-hover .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1300px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1300px no-repeat;
}
.skin-button-willsilver-large-press {
  line-height: 70px;
  color: #A9AAAB;
}
.skin-button-willsilver-large-press .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1400px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1400px no-repeat;
}
.skin-button-willsilver-large-press .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1400px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1400px no-repeat;
}
.skin-button-willsilver-large-disabled {
  cursor: default;
}
.skin-button-willsilver-large-disabled .ui-button-bg-left {
  background: url('/sky/img/_will/button-bg.$5826.png') left -1500px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') left -1500px no-repeat;
}
.skin-button-willsilver-large-disabled .ui-button-label {
  background: url('/sky/img/_will/button-bg.$5826.png') right -1500px no-repeat;
  _background: url('/sky/img/_will/button-bg-ie.$5826.png') right -1500px no-repeat;
}
.pre-style-willsilver-large {
  height: 70px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-text-willwhite,
.skin-textarea-willwhite {
  height: 18px;
  line-height: 18px;
  padding: 9px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
  font-size: 14px;
  overflow: hidden;
  color: #666;
  background: #f7f8f8;
  border: 1px solid #C9CACC;
  border-bottom: 1px solid #B1B3B5;
  box-shadow: 0 1px 1px #C9CACC;
}
.skin-textarea-willwhite {
  resize: vertical;
}
.skin-text-willwhite-hover,
.skin-textarea-willwhite-hover,
.skin-text-willwhite-focus,
.skin-textarea-willwhite-focus {
  border-bottom: 1px solid #A1A3A5;
  background: #FFF;
  color: #444;
}
.skin-text-willwhite-disabled,
.skin-textarea-willwhite-disabled {
  background: #e6e8e9;
  color: #999;
}
.skin-text-willwhite-virtual {
  color: #AAA;
}
.pre-style-text-willwhite {
  height: 38px;
  line-height: 0;
  visibility: hidden;
  border: none;
}
.skin-text-willwhite-lite,
.skin-textarea-willwhite-lite {
  height: 18px;
  line-height: 18px;
  padding: 9px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
  font-size: 12px;
  overflow: hidden;
  color: #666;
  background: #f7f8f8;
  border: 1px solid #C9CACC;
  border-bottom: 1px solid #B1B3B5;
  box-shadow: 0 1px 1px #C9CACC;
}
.skin-textarea-willwhite-lite {
  resize: vertical;
}
.skin-text-willwhite-lite-hover,
.skin-textarea-willwhite-lite-hover,
.skin-text-willwhite-lite-focus,
.skin-textarea-willwhite-lite-focus {
  border-bottom: 1px solid #A1A3A5;
  background: #FFF;
  color: #444;
}
.skin-text-willwhite-lite-disabled,
.skin-textarea-willwhite-lite-disabled {
  background: #e6e8e9;
  color: #999;
}
.skin-text-willwhite-lite-virtual {
  color: #AAA;
}
.pre-style-text-willwhite-lite {
  height: 38px;
  line-height: 0;
  visibility: hidden;
  border: none;
}
.dd-photo-reply {
  width: 18px;
  height: 14px;
  background: url(/img/icon/photo-reply.$6083.png) no-repeat;
  display: block;
  overflow: hidden;
}
.dd-photo-reply.on {
  background-position: 0 -14px;
}
.dd-photo-reply.selected {
  border: 1px solid #494949;
  width: 16px;
  height: 12px;
  background: none;
}
.dd-photo-reply img {
  width: 16px;
}
body {
  font-size: 0;
}
#wrapper {
  font-size: 12px;
  word-wrap: break-word;
}
.notes {
  padding: 20px;
  background: #ffffff;
}
.notes .publisher {
  position: relative;
  zoom: 1;
}
.notes .publisher .comment {
  position: relative;
  padding-right: 78px;
  z-index: 1;
}
.notes .publisher .comment .skin-textarea-notes {
  resize: none;
  outline: none;
  background: #FFF;
  border: 1px solid #DEDEDE;
  box-shadow: inset 0 1px 3px #DCDCDC;
  height: 33px;
  line-height: 24px;
  font-size: 14px;
  padding: 8px 8px 24px;
  overflow: hidden;
  color: #444;
}
.notes .publisher .comment .skin-textarea-notes-hover,
.notes .publisher .comment .skin-textarea-notes-focus {
  border: 1px solid #C0C0C0;
}
.notes .publisher .comment .skin-textarea-notes-disabled {
  color: #CCC;
  background: #FAFAFA;
}
.notes .publisher .comment .skin-textarea-notes-virtual {
  color: #999;
}
.notes .publisher .comment .pre-notes-textarea {
  display: none;
}
.notes .publisher .submit {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.notes .publisher .submit .skin-button-notes {
  background: url('/img/theme/notes/submit.$5627.png');
  height: 67px;
  width: 68px;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
  color: #8C8C8C;
  background-position: -100px -100px;
}
.notes .publisher .submit .skin-button-notes-hover {
  color: #444;
  background-position: -200px -100px;
}
.notes .publisher .submit .skin-button-notes-press {
  color: #9A9A9A;
  line-height: 67px;
  background-position: -300px -100px;
}
.notes .publisher .submit .skin-button-notes-disabled {
  color: #D3D3D3;
  background-position: 0 -100px;
  cursor: default;
}
.notes .publisher .submit .pre-notes-button {
  display: none;
}
.notes .publisher .submit-radius .skin-button-notes {
  background-position: -100px 0;
}
.notes .publisher .submit-radius .skin-button-notes-hover {
  background-position: -200px 0;
}
.notes .publisher .submit-radius .skin-button-notes-press {
  background-position: -300px 0;
}
.notes .publisher .submit-radius .skin-button-notes-disabled {
  background-position: 0 0;
}
.notes .tabs {
  padding: 15px 0 10px;
  border-bottom: 1px dotted #D1D1D1;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  list-style: none;
}
.notes .tabs li {
  float: left;
  display: inline;
  padding: 0 5px;
  margin: 0 10px;
  cursor: pointer;
  color: #969696;
  color: rgba(0, 0, 0, 0.45);
  height: 20px;
  line-height: 20px;
}
.notes .tabs li.current {
  color: #444;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 15px;
  margin-left: 0;
  cursor: default;
  background: url('/img/theme/notes/corner.$5627.png') 2px 8px no-repeat;
}
.register {
  min-width: 310px;
  background: #FFF;
  text-align: center;
  color: #505050;
  font-size: 14px;
}
.register .register-form,
.register .register-tips {
  width: 260px;
  margin: 0 auto;
  text-align: left;
}
.register .register-tips {
  padding: 20px 0 5px;
  font-size: 16px;
  text-align: center;
}
.register .register-tips a.register-link:link,
.register .register-tips a.register-link:active,
.register .register-tips a.register-link:visited,
.register .register-tips a.register-link:hover {
  color: #23506F;
  text-decoration: none;
}
.register .register-count {
  font-size: 12px;
  color: #b4b4b4;
  padding: 0 0 20px;
}
.register .register-input {
  width: 240px;
  clear: both;
  margin: 0 auto;
  width: 242px;
  border: 2px solid #FFF;
  margin-bottom: 5px;
  height: 32px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  zoom: 1;
}
.register .register-input .skin-text-clear {
  background: #FFF;
  border: 1px solid #E1E1E1;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  color: #444;
  padding: 8px;
  outline: none;
}
.register .register-input .skin-text-clear-focus {
  border-color: #C5C5C5;
}
.register .register-input .register-placeholder {
  height: 14px;
  line-height: 12px;
  font-size: 12px;
  color: #CCC;
  position: absolute;
  left: 10px;
  top: 9px;
}
.register .register-input-focus {
  border: 2px solid #E5F2FB;
}
.register #domainWrapper .ui-text {
  padding-right: 92px;
}
.register #domainLabel {
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 12px;
}
.register .register-submit {
  padding: 8px 0 14px;
}
.register .register-submit .ui-button {
  margin: 0 auto;
}
.register .register-warning-wrapper {
  background: #FFF9C5;
  border-bottom: 1px solid #E9E4B4;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 10px;
}
.register .register-warning-wrapper .register-warning {
  margin: 0 auto;
  width: 246px;
  color: #be8b33;
}
.register-third-h {
  position: relative;
  top: -4px;
  margin-right: 86px;
  background: #f6f6f6;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.register-third {
  padding: 4px 10px;
  float: right;
  height: 20px;
  line-height: 20px;
  width: 245px;
  text-align: left;
  position: relative;
  zoom: 1;
}
.register-third .tip {
  color: #ccc;
}
.register-third .login-icon {
  position: absolute;
  top: 5px\9;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('/img/icon/comment-notes.$6311.png');
  background-repeat: no-repeat;
}
.register-third a.login-dd {
  right: 85px;
  background-position: 2px 0;
}
.register-third a.login-dd:hover {
  background-position: 2px -20px;
}
.register-third a.login-sina {
  right: 60px;
  background-position: -71px 0;
}
.register-third a.login-sina:hover {
  background-position: -71px -20px;
}
.register-third a.login-renren {
  right: 35px;
  background-position: -46px 0;
}
.register-third a.login-renren:hover {
  background-position: -46px -20px;
}
.register-third a.login-qq {
  display: none;
  right: 35px;
  background-position: -22px 0;
}
.register-third a.login-qq:hover {
  background-position: -22px -20px;
}
.register-third a.login-douban {
  right: 10px;
  background-position: -96px 0;
}
.register-third a.login-douban:hover {
  background-position: -96px -20px;
}
.register-third .register-third-logout {
  color: #8f8f8f;
  margin-right: 10px;
}
.register-third .register-third-logout a {
  color: #8f8f8f;
}
.register-third .register-third-logout a:hover {
  color: #444;
}
.register-third .register-third-sync input {
  vertical-align: middle\9;
}
#register-third-to .register-third {
  width: auto;
  text-align: right;
}
.not-login-msg {
  height: 25px;
  line-height: 25px;
  color: #444;
  text-align: center;
  background: #FFF9C5;
  margin-top: 10px;
}
.list-container {
  display: none;
  padding: 5px 0;
  position: relative;
  zoom: 1;
}
.list-container a {
  text-decoration: underline;
}
.list-container .other {
  position: absolute;
  bottom: -6px;
  right: 0;
}
.list-container .other a.more {
  width: 13px;
  height: 8px;
  overflow: hidden;
  text-indent: -9999px;
  float: right;
  background: url('/img/theme/notes/corner.$5627.png') 0 -30px no-repeat;
  opacity: 0.20;
  -moz-opacity: 0.20;
  filter: alpha(opacity=20);
}
.list-container .other a.more:hover {
  opacity: 0.50;
  -moz-opacity: 0.50;
  filter: alpha(opacity=50);
}
.item-container {
  padding: 5px 0 5px;
  position: relative;
  zoom: 1;
}
.item-container .avatar {
  position: absolute;
  left: 0;
  top: 5px;
}
.item-container .avatar img {
  display: block;
  height: 20px;
  width: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.item-container .photo {
  margin: 10px 0 0 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: #fff;
  overflow: hidden;
  z-index: 2;
  padding: 3px;
}
.item-container .photo .photo-i {
  overflow: hidden;
}
.item-container .photo img {
  cursor: pointer;
  display: block;
}
.item-container .info {
  line-height: 18px;
  padding: 1px 100px 1px 30px;
}
.item-container .operation {
  position: absolute;
  line-height: 20px;
  right: 0;
  top: 5px;
}
.item-container .operation a {
  float: right;
  display: inline;
  margin-left: 6px;
  text-decoration: none;
}
.item-container .operation a:hover {
  text-decoration: underline;
}
.notes-item .content {
  padding: 6px 0 0 30px;
  line-height: 1.6em;
}
.notes-item .info {
  padding: 1px 70px 1px 30px;
}
#photo-reply {
  position: absolute;
  bottom: 15px;
  right: 100px;
}
